language: node_js

node_js:
    - "node"
    - "8"
    - "7"

sudo: false

git:
    submodules: false

before_script:
    - npm install -g npm@4.6.1
    - npm --version
    - make install

script:
    - make test

after_success:
    - npm run report-coveralls
    - npm run report-codecov
