extend layout.pug

block middle
    div(class="col-sm-8 text-left")
        h1 About
        hr
        p.
            Detta är min me-sida för kursen <em>ramverk2</em> vilket jag
            studerar på BTH(Blekinges tekniska högskola) för kursen webbprogrammering.
            Denna sidan är gjord framförallt med nodejs och express.
        p Min <a href="githib">Github</a>
        <img class="nodeIMG" alt="nodejs bild" src="/img/nodejs.png">
        p.
            Här under är punkter med kursens innehåll citerat från
            <a href="https://dbwebb.se/kurser/ramverk2">dbwebb</a>
        ul
            li Virtualisering med Docker för utveckling, test och driftsättning.
            li Ramverksbaserade serverlösning, backend med JavaScript/PHP.
            li Frontendlösningar med web, SPA (single page application) och desktop.
            li Kopplingar mot databaser.
            li Testdriven utveckling och tekniker för enhetstestning.
            li Automatiserad testning och byggning.
            li Driftsättning och innebörden av devops.
            li Relaterade verktyg och tekniker.
