extend layout.pug

block middle
    div(class="col-sm-8 text-left")
        h1 Home
        hr
        <img class="left" id="imageMe" src="/img/jag.JPG">
        p.
            Jag heter Kevin är 21 år. Jag är uppväxt i Kristianstad där jag bodde med
            mina föräldrar och tre av mina syskon. Har totalt fem syskon två bröder och
            tre systrar, har även en hund. Kristianstad ligger ungefär en och en
            halv timme från Karlskrona. Just nu bor jag ensam i Nättraby vilket ligger
            ungefär 10 min från Blekinges tekniska högskola. Skolan var anledningen att
            jag flyttade hit.
        br
        p.
            På gymnasiet studerade jag samhälle eftersom jag inte hade någon aning om
            vad jag ville bli. Fortfarande inte helt säker på vad jag vill bli. Men
            jag har ett intresse för datorer och tyckte programmering lät kul. Vilket
            var anledningen att jag sökte in på Webbprogrammering. Mina fritids intresse
            är bland annat spela dataspel, träna och hitta på random saker. När jag var
            liten tränade jag sporter som fotboll och tennis.
