extend layout.pug

block side1
    div(class="col-sm-2 sidenav")
        <p><a href="#kmom01">Kmom01</a></p>
        <p><a href="#kmom02">Kmom02</a></p>
        <p><a href="#kmom03">Kmom03</a></p>
        <p><a href="#kmom04">Kmom04</a></p>
        <p><a href="#kmom05">Kmom05</a></p>
        <p><a href="#kmom06">Kmom06</a></p>
        <p><a href="#kmom10">Kmom10</a></p>

block middle
    div(class="col-sm-8 text-left")
        <a name="kmom01"></a>
        include:markdown-it ../content/report/kmom01.md
        <a name="kmom02"></a>
        include:markdown-it ../content/report/kmom02.md
        <a name="kmom03"></a>
        include:markdown-it ../content/report/kmom03.md
        <a name="kmom04"></a>
        include:markdown-it ../content/report/kmom04.md
        <a name="kmom05"></a>
        include:markdown-it ../content/report/kmom05.md
        <a name="kmom06"></a>
        include:markdown-it ../content/report/kmom06.md
        <a name="kmom10"></a>
        include:markdown-it ../content/report/kmom10.md
