extend layout.pug

block middle
    div(class="col-sm-8 text-left")
        h1 Report
        hr
        h3 kmom01
        p.
            redovisnings text
        br
        h3 kmom02
        p.
            redovisnings text
        br
        h3 kmom03
        p.
            redovisnings text
        br
        h3 kmom04
        p.
            redovisnings text
        br
        h3 kmom05
        p.
            redovisnings text
        br
        h3 kmom06
        p.
            redovisnings text
        br
        h3 kmom010
        p.
            redovisnings text
        br
