extend layout.pug

block middle
    div(class="col-sm-8 text-left")
        h1 Report
        hr
        h3 kmom01
        p.
            <strong>Uppgift 1(Bygg me-sida)</strong><br>
            Delarna 1-11 var inga problem. Där följde jag bara övningen och gjorde
            som det visades där. Samt var det saker som jag hade gjort i ”Linux”
            kursen sen innan. Så jag strukturerade min sida som övningen och använde mig
            av ”Bootstrap” för att styla sidan.
            <br><br>

            På del 12 så kommenterade jag bort test delen från makefilen eftersom jag inte
            har några tester än och den gav fel för det.
            <br><br>

            Del 13-14, Viste inte hur man la till badges och änvände sig av sidornas
            verktyg så fick kolla på ett par videos och läsa mig på lite. Använde mig
            av sidan ”shields.io” för att skaffa badgesen, gjorde en egen för ”Better Code Hub”
            eftersom dem inte hade någon för den.
            <br><br>

            Sen del 15 hade jag jätte mycket problem med. Fick bara en massa
            felmeddelande hela tiden. Det är därför du kanske ser att min sida är
            taggad så många gånger på github.
            <br><br>
            <strong>1. Berätta utförligt om din syn på Express och Pug och hur de
            samverkar. Relatera till andra ramverk du jobbat med. Lyft fram de
            fördelar och eventuellt nackdelar du finner, eller bara notera skillnader
            och likheter.</strong><br>
            Fördelar/nackdelar: det är ganska enkelt att sätta upp och få en
            fungerande sida. Samt att du får rätt stor frihet att strukturerar dina
            egna filer som du vill. Nackdel är att själva Pug språket av ”förenklad”
            html är jobbigare att jobba med än vanlig html, helt enkelt enklare att
            skriva vanlig html.
            <br><br>
            Annars kommer det väll upp mer för och nackdelar efter jag har arbetat
            mer med dem, svårt att säga nu i början.
            <br><br>

            <strong>2. Berätta om din katalogstruktur och hur du organiserade din kod, hur
            tänkte du?</strong><br>

            Jag organiserade min kod så som det visades i övningen. Tänkte att
            jag ville komma in i systemet lite först innan jag börjar sätta upp
            en riktig struktur.
            <br><br>
            View folder för filer som är skrivna i ”pug” och som visar upp sidans
            innehåll. Public folder med img, css och js folder för deras innehåll.
            <br><br>

            <strong>3. Använde du någon form av scaffolding som Express erbjuder?</strong>
            <br>
            Nej.
            <br><br>

            <strong>4. Jobbar du med Markdown för innehållet, eller annat liknande?</strong>
            <br>Nej skrev innehållet i pug format. Men kommer nog att använda mig av markdown i framtiden.



        h3 kmom02
        p.
            redovisnings text
        br
        h3 kmom03
        p.
            redovisnings text
        br
        h3 kmom04
        p.
            redovisnings text
        br
        h3 kmom05
        p.
            redovisnings text
        br
        h3 kmom06
        p.
            redovisnings text
        br
        h3 kmom010
        p.
            redovisnings text
        br
